.intro{
    margin-top: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 20px;
    background-color: #993333ff;
    border-radius: 10px;
    align-items: center;
}

.intro-photo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.intro-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.intro-texte > .button:hover{
    background-color: #1c2526ff;
}

.intro-texte{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #ffffff;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 40px 0 40px;
}

.intro-texte h1 {
    margin-bottom: 0.5rem; 
}
.intro-texte p {
    margin-top: 0; 
}

.intro-texte a {
    align-self: start; 
}

.sport{
    margin-top: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(239, 239, 239);
}

.sport-gauche{
    grid-column: 1 / 2;
    padding: 0 40px 0 40px;
}

.sport-droite{
    grid-column: 2 / 3;
}

.parcours-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.boutons-parcours{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

@media (max-width: 1024px) {
    .intro {
        margin-top: 0;
        padding-top: 0;
        background-color: transparent;
    }
    .intro,
    .sport {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .intro-photo,
    .intro-texte,
    .sport-gauche,
    .sport-droite {
        grid-column: 1 / 2 !important;
        grid-row: auto;
        padding: 10px;
    }
    .intro-texte {
        order: 2;
        background-color: #993333ff;
        border-radius: 10px;
        padding: 0 40px 30px 40px;
    }
    .intro-photo {
        order: 1;
    }

    .parcours-image {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .intro-image {
        width: 100vw;
        height: auto;
        display: block;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        margin-top: 0;         /* Colle l'image au header */
        padding-top: 0;
        position: relative;
        border-radius: 0;
    }

    .sport {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .sport-gauche,
    .sport-droite {
        grid-column: 1 / 2 !important;
        grid-row: auto;
        padding: 10px;
    }

    .sport-droite img{
        display:block;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

}

