.intro{
    margin-top: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
    gap: 20px;
}

.intro-photo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.intro-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.intro-texte{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.sport{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.sport-gauche{
    grid-column: 1 / 2;
}

.sport-droite{
    grid-column: 2 / 3;
}

.parcours-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.boutons-parcours{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .intro {
        margin-top: 0;
        padding-top: 0;
    }
    .intro,
    .sport {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .intro-photo,
    .intro-texte,
    .sport-gauche,
    .sport-droite {
        grid-column: 1 / 2 !important;
        grid-row: auto;
        padding: 10px;
    }
    .intro-texte {
        order: 2;
    }
    .intro-photo {
        order: 1;
    }

    .parcours-image {
        width: 90%;
        height: auto;
        object-fit: cover;
    }

    .intro-image {
        width: 100vw;
        height: auto;
        display: block;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        margin-top: 0;         /* Colle l'image au header */
        padding-top: 0;
        position: relative;
        border-radius: 0;
    }
}

